body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  color: #ffffff;
  font-style: 'Spectral SC', sans-serif;

}

label, h1, h3, h2{
  color: #ffffff;
  font-family: 'Arimo', sans-serif;
}
.top {
  text-align: center;
}
.invis {
  width: 260px;
}
.background {
  width: 100%;
  height: 100%;
  background:linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
    ), url("../assets/images/background-far.png");
    filter: grayscale();
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.index{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.axis-dropdowns{
  display: flex;
  justify-content: center;
  align-items: center;
}

.year-dropdowns{
  display: flex;
  justify-content: center;
  align-items: center;
}

.left{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.right {
  background:linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4));
  border-radius: 4px;
}


.main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.bottom{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
