body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  color: #ffffff;
}

.top {
  text-align: center;
}

.index{
  background-image: linear-gradient(#2b406e, #04060b 110%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.axis-dropdowns{
  display: flex;
  justify-content: center;
  align-items: center;
}

.year-dropdowns{
  display: flex;
  justify-content: center;
  align-items: center;
}

.left{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
