.toolTip {
  position: absolute;
  display: none;
  min-width: 60px;
  height: auto;
  padding: 14px;
  text-align: center;
  border-radius: 3px;
}

.label {
  font-size: 20px;
  color: #ffffff;
  font-style: 'Spectral SC', serif;

}
